body{
	color: $color-first;
	font-family: "Univers";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;

	overflow: hidden;

// 	margin:;

}

a{
	text-decoration: none;
}

p{
	margin:0;
}
.my-friend-br{
	display:block;
}

.txt--large{
	font-weight:700;
}
.txt--xlarge{
	font-size: 4.8vw;
}
.txt--right{
	text-align: right;
}

.title{
	margin:0;
	font-size: 13vw;
	font-weight:700;
	line-height: 0.7;
}

.button{

	position: absolute;
	z-index: 20;
	top:-1px;
	left:-1px;

	display: block;
	padding: 0;

	width:100%;
	height: 100%;

	line-height: 0;

	border:solid 1px $color-first;
	box-shadow: none;
	box-sizing: content-box;

	background-color:$background-color;

	&[disable="false"]{
		top:-4px;
		left:-4px;
	}
}

.container{

	width:91vw;
	height: calc(100vh - 9vw);

	margin : 4.5vw 4.5vw 4.5vw 4.5vw;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__header{

		display: grid;


		&--intro{
			width: 91vw;
			grid-template-columns: 9fr 3fr;
			position: absolute;
			bottom:4.5vw;
			right:4.5vw;
			// transform: translateY(calc(100% + 4.5vh));
		}
	}
	.container__main{
		display: flex;
		flex-direction: column;

		&--intro{
			height:100%;
			// display: flex;
			// flex-direction: column;
		}
	}

}



.section{
	width: 91vw;

	&--illustration{
		// width:100vw;
		height:91vw;
		overflow: hidden;
		// margin : 4.5vw 4.5vw 0 4.5vw;
	}

	&--journey{
		margin : auto 0;
	}
}


ul{
	list-style: none;
	margin: 0;
  	padding:0;
}

// @media (max-width: xxxpx){
	
// }